@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin:0;
  font-family:Inter,sans-serif;
  background:#0f172a;
}

.resume-page {
  width: 794px;
  min-height: 1123px;
  background: white;
  margin: 0 auto;
}

@media print {
  .resume-page {
    width: 210mm;
    min-height: 297mm;
  }

  @page {
    size: A4;
    margin: 0;
  }
}

.latex-template {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  line-height: 1.25;
}

.latex-template h1 {
  font-size: 34px;
  font-weight: 700;
}

.latex-template section {
  margin-top: 18px;
}

.latex-template .section-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.latex-template .olive-link {
  color: #6b8e23;
  text-decoration: underline;
  font-weight: 500;
}

.latex-template ul {
  margin-top: 4px;
}

.latex-template li {
  margin-bottom: 3px;
}